@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
  font-family: pixelFont;
  src:url("04B_03.ttf");
}

body {
    font-family: 'VT323', monospace;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

body > div {
  display: flex;
}

h1 {
  font-family: pixelFont;
  color: #CCC4D3;
  font-size: 4rem;
  margin-top: 5px;
  margin-bottom: 17px;
}

h4 {
  font-size: 2rem;
  line-height: 1px;
}

.orange {
  color: #ff9c00;
}

.dark {
  color: #2b2b2b;
}